<div>

    <p>Uwielbiam jeść gotową karmę.</p>
    <p>Czasem lubię też zapolować na świerszcze czy koniki polne.</p>
    <p>Nie przepadam za szarańczą, są dla mnie za leniwe i przez to mało interesujące.</p>

    {{>go-home}}

</div>