<div>

<h1>GEKON ORZĘSIONY</h1>

<h2>CRESTED GECKO</h2>

<p>Cześć, <br>
    Nazywam się Gekon Orzęsiony. <br>
    Chodź, poznaj mnie trochę bliżej :)</p>

</div>

<div>
    <li>
        <a href="/my-look">Zobacz jak wyglądam</a>
    </li>

    <li>
    <a href="/how-old">Ile mam lat?</a>
    </li>

    <li>
    <a href="fav-dish">Co lubię jeść?</a>
    </li>
</div>